.product {
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 15px;
    padding: 10px;
}
.img {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    border-radius: 15px;
}
.title {
    color: var(--tg-theme-text-color);
    font-size: 18px;
    padding: 4px 0;
}
.description, .price {
    font-size: 14px;
    color: var(--tg-theme-hint-color);
}

.add-button {
    border-radius: 10px;
    padding: 10px 20px;
    background-color: orange;
    font-size: 16px;
    color: var(--tg-theme-button-text-color);
}