
@media (min-width: 500px) {
    .cls_btn, .username{
        font-size: 16px;
        padding: 10px 25px;

    }

}  
@media (max-width: 500px) {
    .cls_btn, .username{
        font-size: 14px;
        padding: 5px 20px;
    }

}
  .header {
    width: 100%;
    height: 50px;
    display: flex;
    padding: 40px;
    justify-content: space-between;
    align-items: center; 
}

.username {
    background-color: var(--tg-theme-button-color);
}

.cls_btn, .username  {
    border-radius: 15px;
    font-size: 16px;
    color: var(--tg-theme-button-text-color);
}

.cls_btn {
    background-color: orange;
}